<div class="box">
  <h1>你要实现谁的圣诞愿望？</h1>
  请在下面找出您的名字<br>
  <div class='name'>
  <% @names.each do |key, value| %>
    <%= value %>
  <% end %>
  <br>
  <br>
  </div>
  <%= form_for @gift, :url => welcome_pick_path do |f| %>
    <div class="field">
      <%= f.label '输入你的名字' %>（在上面找你的名字）<br>
      <%= text_field_tag :who %>
    </div>
    <input type='button' name='commit' id='submit_button' />
  <% end %>
</div>

<style type="text/css">
  body {
    background: #c72727 url("/assets/christm.jpg") top center no-repeat;
  }
  .box{ width:650px; height:420px; margin:135px auto; line-height:24px;}
  .name{ width: 400px;}
  #submit_button{
    width: 192px;
    height: 66px;
    border: 0;
/*    text-indent: 0px;*/
    background-image: url('/assets/button.jpg');
  }
</style>

<script type='text/javascript'>
$('#submit_button').click(function(){
  var name = $('#who').val();
  if (name == null || name == ''){
    alert('请输入你的名字！')
    return false;
  }
  $.ajax({
    type: 'get',
    url: '/welcome/find_who',
    data: {who: name},
    dataType: 'json',
    success: function(data) {
      if (data == 0){
        alert('你已经抽过了！');
        return false;
      }
      if(data == 3){
        alert('请输入上面出现的名字！');
        return false;
      }
      $('.new_gift').submit();
    },
    error: function() {
      alert('请求失败！');
    },
  });
  
});
</script>